---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="mx-auto max-w-7xl px-4 my-10">
		<h1 class="text-5xl text-gray-800 dark:text-gray-50">Welcome to Astro</h1>
  </div>
</Layout>