---
import { Navbar } from '../navbar/Navbar.jsx';
---
<body class="root bg-white dark:bg-gray-800">
  <Navbar client:load />
  <div class="content text-gray-700 dark:text-gray-200">
    <slot />
  </div>
</body>

<style>
  .root {
    @apply font-sans antialiased min-h-screen transition-colors;
  }

  .content {
    @apply w-full max-w-screen-xl mx-auto px-4 md:px-6 lg:px-8;
  }
</style>