---
import BaseHead from '@/layouts/BaseHead.astro';
import Nav from '@/islands/Nav';

const { ...customMeta } = Astro.props;
const meta = { ...customMeta };

const path = Astro.url.pathname.split('/');
const pathname = `/${path[1]}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead meta={meta} />
  </head>
  <body>
    <Nav client:load pathname={pathname} />
    <main>
      <slot />
    </main>
    <footer class="mx-auto max-w-7xl px-4 py-6">
      <div class="text-gray-800 dark:text-gray-50">© Rendi Riz</div>
    </footer>
    <style>
      body {
        @apply bg-white dark:bg-gray-900;
      }
    </style>
  </body>
</html>
